# Maven build directory
target/

# IDE files
.idea/
.vscode/
*.iml

*node_modules/

*/dist

# Git
.git
.gitignore

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Archives (caso gere outros artefatos)
*.jar
*.war
*.ear
